<mat-dialog-content class="dialog-content">
  <mat-chip-set #chipGrid aria-label="Enter keywords" class="chip-set">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
      <mat-tab label="Rouge">
        <ng-container *ngFor="let grape of redGrapes; trackBy: trackByFn">
          <mat-chip
            class="custom-chip"
            (click)="selectGrape(grape)"
            [ngClass]="{'selected-chip': isSelected(grape)}">
            {{ grape }}
          </mat-chip>
        </ng-container>
      </mat-tab>
      <mat-tab label="Blanc">
        <ng-container *ngFor="let grape of whiteGrapes; trackBy: trackByFn">
          <mat-chip
            class="custom-chip"
            (click)="selectGrape(grape)"
            [ngClass]="{'selected-chip': isSelected(grape)}">
            {{ grape }}
          </mat-chip>
        </ng-container>

      </mat-tab>
    </mat-tab-group>

  </mat-chip-set>
</mat-dialog-content>
<mat-dialog-actions class="dialog-actions">
  <button mat-button [mat-dialog-close]="selectedGrapes()" cdkFocusInitial class="ok-button">Ok</button>
</mat-dialog-actions>
