<mat-dialog-content>
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>N° session</mat-label>
      <input matInput [(ngModel)]="sessionId"  type="number"
             autocomplete="off" required>
    </mat-form-field>
    <mat-dialog-actions class="dialog-actions">
      <button mat-button (click)="cancel()">No Thanks</button>
      <button mat-button [mat-dialog-close]="sessionId()" cdkFocusInitial class="ok-button">show me!</button>
    </mat-dialog-actions>
</mat-dialog-content>



