<div class="container">
  <form [formGroup]="wineForm" class="session-form">
    <h2 class="form-title">{{ title }}</h2>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Pseudo</mat-label>
      <input matInput formControlName="username" placeholder="Entrez votre pseudo" autocomplete="off" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Numéro de session</mat-label>
      <input matInput formControlName="sessionId" placeholder="Entrez le numéro de session" autocomplete="off" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Domaine</mat-label>
      <input matInput formControlName="domain" placeholder="Entrez le domaine" autocomplete="off">
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Nom de la bouteille</mat-label>
      <input matInput formControlName="bottleName" placeholder="Entrez le nom de la bouteille" autocomplete="off">
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Millésime</mat-label>
      <input matInput type="number" formControlName="vintage" placeholder="Entrez le millésime"
             autocomplete="off">
    </mat-form-field>


    <mat-form-field appearance="outline" class="form-field grapesInput">
      <mat-label>Cépage-s</mat-label>
      <input matInput formControlName="grapeVariety" [value]="selectedGrapes" placeholder="Sélectionnez vos cépages"
             autocomplete="off" readonly>
      <mat-icon matSuffix (click)="openGrapesModal()" class="grapes-modal-btn">add</mat-icon>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" (click)="onSubmit()"
            class="submit-button"> {{ submitButtonMessage }}
    </button>
  </form>
</div>

